footer 
{
    background-color: white;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    border-top: 1px solid #CCCCCC;
}

footer p 
{
    margin: 0;
    text-align: center;
}
